Build*/
Library/
Logs/
Temp/
Obj/
.vs/
UserSettings/
.idea/
*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.unitypackage
Assets/StreamingAssets/CueSheet_0.acb
Build_Windows (3).zip
connectwebgl.zip
WebGL Builds/StreamingAssets/CueSheet_0.acb
Build_Web.zip
やさしいひかりに、さようなら/UnityCrashHandler64.exe
やさしいひかりに、さようなら/UnityPlayer.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら.exe
やさしいひかりに、さようなら/D3D12/D3D12Core.dll
やさしいひかりに、さようなら/MonoBleedingEdge/EmbedRuntime/mono-2.0-bdwgc.dll
やさしいひかりに、さようなら/MonoBleedingEdge/EmbedRuntime/MonoPosixHelper.dll
やさしいひかりに、さようなら/MonoBleedingEdge/etc/mono/browscap.ini
やさしいひかりに、さようなら/MonoBleedingEdge/etc/mono/config
やさしいひかりに、さようなら/MonoBleedingEdge/etc/mono/2.0/DefaultWsdlHelpGenerator.aspx
やさしいひかりに、さようなら/MonoBleedingEdge/etc/mono/2.0/machine.config
やさしいひかりに、さようなら/MonoBleedingEdge/etc/mono/2.0/settings.map
やさしいひかりに、さようなら/MonoBleedingEdge/etc/mono/2.0/web.config
やさしいひかりに、さようなら/MonoBleedingEdge/etc/mono/2.0/Browsers/Compat.browser
やさしいひかりに、さようなら/MonoBleedingEdge/etc/mono/4.0/DefaultWsdlHelpGenerator.aspx
やさしいひかりに、さようなら/MonoBleedingEdge/etc/mono/4.0/machine.config
やさしいひかりに、さようなら/MonoBleedingEdge/etc/mono/4.0/settings.map
やさしいひかりに、さようなら/MonoBleedingEdge/etc/mono/4.0/web.config
やさしいひかりに、さようなら/MonoBleedingEdge/etc/mono/4.0/Browsers/Compat.browser
やさしいひかりに、さようなら/MonoBleedingEdge/etc/mono/4.5/DefaultWsdlHelpGenerator.aspx
やさしいひかりに、さようなら/MonoBleedingEdge/etc/mono/4.5/machine.config
やさしいひかりに、さようなら/MonoBleedingEdge/etc/mono/4.5/settings.map
やさしいひかりに、さようなら/MonoBleedingEdge/etc/mono/4.5/web.config
やさしいひかりに、さようなら/MonoBleedingEdge/etc/mono/4.5/Browsers/Compat.browser
やさしいひかりに、さようなら/MonoBleedingEdge/etc/mono/mconfig/config.xml
やさしいひかりに、さようなら/やさしいひかりに、さようなら_BurstDebugInformation_DoNotShip/Data/Plugins/x86_64/lib_burst_generated.txt
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/app.info
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/boot.config
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/globalgamemanagers
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/globalgamemanagers.assets
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/globalgamemanagers.assets.resS
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/level0
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/level1
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/level2
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/level3
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/level4
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/level5
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/resources.assets
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/resources.assets.resS
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/RuntimeInitializeOnLoads.json
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/ScriptingAssemblies.json
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/sharedassets0.assets
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/sharedassets0.assets.resS
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/sharedassets1.assets
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/sharedassets1.assets.resS
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/sharedassets1.resource
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/sharedassets2.assets
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/sharedassets2.assets.resS
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/sharedassets3.assets
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/sharedassets4.assets
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/sharedassets4.assets.resS
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/sharedassets4.resource
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/sharedassets5.assets
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/Assembly-CSharp.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/Autodesk.Fbx.BuildTestAssets.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/Autodesk.Fbx.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/CriMw.CriWare.Runtime.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/Mono.Security.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/mscorlib.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/netstandard.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/System.ComponentModel.Composition.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/System.Configuration.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/System.Core.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/System.Data.DataSetExtensions.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/System.Data.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/System.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/System.Drawing.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/System.EnterpriseServices.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/System.IO.Compression.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/System.IO.Compression.FileSystem.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/System.Net.Http.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/System.Numerics.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/System.Runtime.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/System.Runtime.Serialization.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/System.Security.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/System.ServiceModel.Internals.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/System.Transactions.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/System.Xml.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/System.Xml.Linq.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/Unity.AI.Navigation.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/Unity.Animation.Rigging.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/Unity.Animation.Rigging.DocCodeExamples.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/Unity.Burst.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/Unity.Burst.Unsafe.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/Unity.Collections.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/Unity.Collections.LowLevel.ILSupport.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/Unity.Formats.Fbx.Runtime.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/Unity.InputSystem.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/Unity.InputSystem.ForUI.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/Unity.Mathematics.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/Unity.Multiplayer.Center.Common.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/Unity.Rendering.LightTransport.Runtime.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/Unity.RenderPipeline.Universal.ShaderLibrary.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/Unity.RenderPipelines.Core.Runtime.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/Unity.RenderPipelines.Core.Runtime.Shared.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/Unity.RenderPipelines.Core.ShaderLibrary.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/Unity.RenderPipelines.GPUDriven.Runtime.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/Unity.RenderPipelines.Universal.2D.Runtime.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/Unity.RenderPipelines.Universal.Config.Runtime.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/Unity.RenderPipelines.Universal.Runtime.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/Unity.RenderPipelines.Universal.Shaders.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/Unity.TextMeshPro.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/Unity.Timeline.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/Unity.VisualScripting.Antlr3.Runtime.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/Unity.VisualScripting.Core.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/Unity.VisualScripting.Flow.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/Unity.VisualScripting.State.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.AccessibilityModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.AIModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.AMDModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.AndroidJNIModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.AnimationModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.ARModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.AssetBundleModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.AudioModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.ClothModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.ClusterInputModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.ClusterRendererModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.ContentLoadModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.CoreModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.CrashReportingModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.DirectorModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.DSPGraphModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.GameCenterModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.GIModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.GraphicsStateCollectionSerializerModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.GridModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.HierarchyCoreModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.HotReloadModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.ImageConversionModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.IMGUIModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.InputForUIModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.InputLegacyModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.InputModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.JSONSerializeModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.LocalizationModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.MarshallingModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.MultiplayerModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.NVIDIAModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.ParticleSystemModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.PerformanceReportingModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.Physics2DModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.PhysicsModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.PropertiesModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.RuntimeInitializeOnLoadManagerInitializerModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.ScreenCaptureModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.ShaderVariantAnalyticsModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.SharedInternalsModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.SpriteMaskModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.SpriteShapeModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.StreamingModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.SubstanceModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.SubsystemsModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.TerrainModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.TerrainPhysicsModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.TextCoreFontEngineModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.TextCoreTextEngineModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.TextRenderingModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.TilemapModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.TLSModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.UI.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.UIElementsModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.UIModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.UmbraModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.UnityAnalyticsCommonModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.UnityAnalyticsModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.UnityConnectModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.UnityCurlModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.UnityTestProtocolModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.UnityWebRequestAssetBundleModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.UnityWebRequestAudioModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.UnityWebRequestModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.UnityWebRequestTextureModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.UnityWebRequestWWWModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.VehiclesModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.VFXModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.VideoModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.VirtualTexturingModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.VRModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.WindModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityEngine.XRModule.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityFx.Outline.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Managed/UnityFx.Outline.URP.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Plugins/x86_64/cri_ware_unity.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Plugins/x86_64/lib_burst_generated.dll
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Resources/unity default resources
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/Resources/unity_builtin_extra
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/StreamingAssets/CueSheet_0.acb
やさしいひかりに、さようなら/やさしいひかりに、さようなら_Data/StreamingAssets/Yasashiihikari-Horror.acf
