Build*/
Library/
Logs/
Temp/
Obj/
.vs/
UserSettings/
.idea/
*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.unitypackage
Assets/StreamingAssets/CueSheet_0.acb
Build_Windows (3).zip
connectwebgl.zip
WebGL Builds/StreamingAssets/CueSheet_0.acb
Build_Web.zip
